<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true" xdt:Transform="Replace" >
      <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}, ${exception:format=tostring}"/>
    </targets>
    <rules xdt:Transform="Replace" >
      <logger name="*" minlevel="Trace" writeTo="logentries"/>
    </rules>
  </nlog>

  <appSettings>
    <add key="Logentries.Token" value="50394462-9e8e-4aa0-9f3f-4af018ae1e6f" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>